@import 'variables';

* {
    box-sizing: border-box;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body {
	padding-top: 3rem;
	margin: 0 auto;
	max-width: $max-width;
}
.active {
	font-weight: 800;
	text-decoration: underline;
}
